body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #0f738b;
}


* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* CABEÇALHO */

.header {
    background-color: #ffffff;
    border-right: 3px solid #e74c3c;
    width: 20%;
    height: 100%;
    position: fixed;
}

.header .container .highlight {
    color: #e74c3c

}
.containerHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.nav{
    width: 55%;
    text-align: center;
}
.usuario {
    color: rgb(0, 0, 0);
}

.usuario h3 {
    font-weight: 100;
    margin-top: 30px;
}

.header h1 {
    margin: 0;
    padding: 0;
    
    margin: 35px;
    color: white;
    font-size: 25px;
    padding-bottom: 50px;
    border-bottom: 2px solid #e74c3c;
}

.header ul {
    list-style-type: none;
    
    margin-top: 40px;
}

.header li {
    margin: 0 0 50px 0;
}

.header a {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.header a:hover {
    font-weight: bold;
    color: rgb(231, 76, 60);
}

.header .current {
    color: #e74c3c;
    font-weight: bold;
}
.header {
    background-color: #ffffff;
    border-right: 3px solid #e74c3c;
    width: 20%;
    height: 100%;
    position: fixed;
}


.secao_suporte {
    width: 100%;
    height: 765px;
    display: flex;
    justify-content: flex-end;
}


.faq_cliente {
    width: 80%;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
}

.btn_suporte {
    width: 40%;
    height: 50px;
    outline: none;
    cursor: pointer;
    background-color: #e74c3c;
    color: white;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}

.btn_suporte:hover, .btn_suporte.active {
    background-color: #ffffff;
    color: #e74c3c;
    transition: .5s;
}
.box_cliente{
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;

}
.passo_a_passo{
    margin-top: 30px;
    border-top: #e74c3c solid 2px;
}
.box_cliente p {
    font-weight: bold;
    font-size: 18px;
}

.box_cliente h1, h3 {
    color: #e74c3c;
}


/* dashboard */

.dashboard {
    text-align: center;
    padding: 50px 0;
    width: 80%;
    margin-left: auto;
}

.dashboard h1 {
    margin-bottom: 40px;
}

.dashboard .input-padrao {
    width: 50%;
    display: inline-block;
}

/* EXTRA */

.extra {
    margin: 10px;
}

.extra img {
  height: 50px;
   visibility: hidden;
}

.extra .msg_erro {
    background-color: sandybrown; 
    color: black; 
    visibility: hidden;
}

.caminhao {
    border: 1px solid red;
    border-radius: 10px;
    display: block;
    width: 35%;
    margin: 60px 7%;
    height: 160px;
    float: left;
    text-align: center;
    background-color: white;
    box-shadow:  3px 3px 5px 2px rgba(0, 0, 0, 0.671);
    
}

.caminhao h4{
    margin-top: 20px;
    color:  #e74c3c;
}
.caminhao .valores {
    margin-top: 30px;
    overflow: auto;
}


.caminhao .alertas {
    width:100%;
    margin:auto;
    margin-top: 5px;
    overflow: auto;
}

.caminhao .alertas .alerta {
    width: 30%;
    margin: auto;
}
.caminhao .alertas .alerta_umidd {
    margin-right: 13%;
    width: 30%;
    float: right;
}

.grafic{
    width:75%; 
    margin: 20px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 20px;
    border-top: 3px solid #e74c3c;
    border-left: 3px solid #e74c3c;
}

.btn{
    background-color: #e74c3c;
    color: #fff;
    border: 0;
    padding: 10px;
    border-radius: 5px;
}
.btn:hover{
    color:#e74c3c ;
    background-color: #ffffff;
    font-weight: bold;

}