body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ebe6e0;
}


h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* CABEÇALHO */

.header {
    background-color: #ffffff;
    border-right: 3px solid #e74c3c;
    width: 20%;
    height: 100%;
    position: fixed;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.secao_suporte {
    width: 100%;
    height: 765px;
    display: flex;
    justify-content: flex-end;
}


.faq_cliente {
    width: 80%;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
}

.btn_suporte {
    width: 40%;
    height: 50px;
    outline: none;
    cursor: pointer;
    background-color: #e74c3c;
    color: white;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}

.btn_suporte:hover, .btn_suporte.active {
    background-color: #ffffff;
    color: #e74c3c;
    transition: .5s;
}
.box_cliente{
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;

}
.passo_a_passo{
    margin-top: 30px;
    border-top: #e74c3c solid 2px;
}
.box_cliente p {
    font-weight: bold;
    font-size: 18px;
}

.box_cliente h1, h3 {
    color: #e74c3c;
}


.usuario {
    width: 75%;
    overflow: hidden;
    margin: auto;
    text-align: center;
    color: #000000;
}

.usuario h3 {
    font-weight: 100;
}



.header ul {
    list-style-type: none;
    float: left;
    margin-top: 40px;
}

.header li {
    margin: 0 0 30px 0;
}

.header a {
    text-transform: uppercase;
    color: black;
}

.header a:hover {
    font-weight: bold;
}

.header .current {
    color: orangered;
    font-weight: bold;
}


/* FOOTER */

.footer {
    background-color: rgb(255, 95, 37);
    text-align: center;
    height: 100px;
}

.footer h4 {
    color: white;
    font-weight: 100;
    margin: 0;
    padding-top: 40px;
}



/* dashboard */

.dashboard {
    background-color: #ecf0f1;
    text-align: center;
    padding: 50px 0;
    width: 80%;
    height: 100%;
    margin-left: auto;
}

.dashboard h1 {
    margin-bottom: 40px;
}

.dashboard .input-padrao {
    width: 50%;
    display: inline-block;
}

.box-login {
    display: inline-block;
    background-color: white;
    box-shadow:  3px 3px 5px 2px #ccc;
    padding: 60px 20px 0px 20px;
    border-radius: 20px;
    width: 400px;
}

.dashboard .btn-green {
    display: block;
    float: none;
    margin: auto;
}

/* EXTRA */

.extra {
    margin: 10px;
}

.extra img {
  height: 50px;
   visibility: hidden;
}

.extra .msg_erro {
    background-color: sandybrown; 
    color: black; 
    visibility: hidden;
}

.caminhao {
    border: 1px solid red;
    border-radius: 10px;
    display: block;
    width: 35%;
    margin: 10px 7%;
    height: 160px;
    float: left;
    text-align: center;

    background-color: white;
    box-shadow:  3px 3px 5px 2px #ccc;
    
}

.caminhao .valores {
    margin:auto;
    overflow: auto;
}

.caminhao .valores .valor {
    margin-left: 13%;
    width: 30%;
    float: left;
}

.caminhao .alertas {
    width:100%;
    margin:auto;
    margin-top: 5px;
    overflow: auto;
}

.caminhao .alertas .alerta {
    margin-left: 13%;
    width: 30%;
    float: left;
}
.caminhao .alertas .alerta_umidd {
    margin-right: 13%;
    width: 30%;
    float: right;
}

